body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: yellow;
    text-decoration: none;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.cosplay-a {
    cursor: default;
}

div.cosplay-a:hover {
    cursor: pointer;
}

#main-content {
    height: 100%;
    left: 70px;
    position: fixed;
    width: calc(100% - 70px);

    #header {
        box-sizing: border-box;
        color: aqua;
        height: 10%;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
    }

    #features {
        display: block;
        height: 90%;
        overflow-y: scroll;
        position: relative;
        width: 100%;

        .feature-display {
            border-radius: 5px;
            border-style: solid;
            box-sizing: border-box;
            float: left;
            height: 200px;
            margin: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
            width: 30%;
        }
    }

    #commands {
        display: block;
        height: 90%;
        overflow-y: scroll;
        position: relative;
        width: 100%;
    }
}

div.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 200;

    .container {
        background-color: black;
        border: 1px;
        border-radius: 15px;
        border-style: solid;
        box-sizing: border-box;
        height: 80vh;
        margin-bottom: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 10vh;
        overflow: auto;
        padding: 50px;
        padding-top: 0;
        position: relative;
        width: 80vw;
    }

    .constrained {
        max-width: 100%;
    }

    #close-button {
        color: red;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

/* https://www.w3schools.com/howto/howto_css_login_form.asp */
div#login-modal {
    .container {
        color: yellow;

        #login-key-zone * {
            float: left;
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
div.circular-progress-indicator {
    animation: spin 1s linear infinite;
    border-color: yellow;
    border-top-color: red;
    border-radius: 50%;
    border-style: solid;
    height: 16px;
    width: 16px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}